.kanban-item-status {
    display: inline-block;
    width: 100%;
}

.kanban-item-status i {
    margin-top: 2px;
    margin-right: 3px;
}


.sewing_chart {
    height: 280px;
}

.chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div {
    margin-top: 4px;
}