<template name="index_efficiency_template">
    <div ng-controller="EfficiencyIndexController as ctrl" class="efficiency">
        <div class="row" style="margin: 0">
            <!--设备状态-->
            <div class="col-xs-6 efficiency-panel" style="border-right:15px solid #eaedf1">
                <div class="row">
                    <div class="col-xs-5 device-panel-title">{{'设备状态'}}</div>
                </div>
                <hr class="widget-separator"/>
                <div class="device-panel-info">
                    <div id="state_chart"></div>
                </div>
            </div>

            <!--今日报警信息-->
            <div class="col-xs-6 efficiency-panel">
                <div class="row">
                    <div class="col-xs-5 device-panel-title">{{'最近报警信息'}}</div>
                    <div class="col-xs-7" style="text-align: right;margin-top: 20px">
                        <a href="#/app/plant_efficiency/menu/2">查看更多</a>
                    </div>
                </div>
                <hr class="widget-separator"/>
                <div class="device-panel-info alarmtable">
                    <div>
                        <table class="table table-bordered">
                            <tr style="background-color: #F8F8F9;">
                                <th>设备名称</th>
                                <th>设备类型</th>
                                <th>报警内容</th>
                                <th>报警时间</th>
                                <th>持续时间(秒)</th>
                            </tr>
                            <tr ng-repeat="alarm in alarmList track by $index">
                                <td>{{alarm.device_name}}</td>
                                <td>{{alarm.type.classificationName}}</td>
                                <td>{{alarm.stateName}}</td>
                                <td>{{alarm.start_date}}</td>
                                <td>{{alarm.duration/1000}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:15px 0">
            <!--设备效率-->
            <div class="col-xs-6 efficiency-panel" style="border-right:15px solid #eaedf1;">
                <div class="row">
                    <div class="col-xs-5 device-panel-title">{{'今日设备效率'}}</div>
                </div>
                <hr class="widget-separator"/>
                <div class="device-panel-info">
                    <div class="utilization">
                        <div class="showUtil">
                            <span>设备总利用率</span>
                            <span>{{todayUtilization}}%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width:{{todayUtilization}}%"></div>
                        </div>
                        <div class="total_chart">

                        </div>
                    </div>
                </div>
            </div>

            <!--数据统计-->
            <div class="col-xs-6 efficiency-panel">
                <div class="row" style="display: flex">
                    <div class="col-xs-2 device-panel-title">
                        {{'数据统计'}}
                    </div>
                </div>
                <hr class="widget-separator"/>
                <div class="device-panel-info">
                    <div class="navs">
                        <div class="nav" ng-click="ctrl.changemodel('utilization')" ng-class="datamodel=='utilization'?'ischoose':''">设备利用率</div>
                        <div class="nav" ng-click="ctrl.changemodel('alarmlist')" ng-class="datamodel=='alarmlist'?'ischoose':''">报警数量</div>
                    </div>
                    <div class="utilizationchart" ng-show="datamodel=='utilization'"></div>
                    <div class="alarmChart" ng-show="datamodel=='alarmlist'"></div>
                </div>
            </div>
        </div>
    </div>
</template>