/*triton debug panel*/
.debug_data_panel {
    position: relative;
    border: 1px #ced9ee solid;
    height: calc(100%);
}

.debug_data_panel_toolbar {
    height: 42px;
    display: flex;
    align-content: center;
    border-bottom: 1px #ced9ee solid;
    padding-left: 5px;
}

.debug_data_panel_toolbar .fa {
    display: inline-block;
    font-size: 20px;
    color: #aebedc;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border: 1px #aebedc solid;
    margin-right: 5px;
}

.debug_data_panel_toolbar .fa.active {
    background-color: #aebedc;
    color: #fff;
}

.clear-icon {
    background: url(../css/image/debug-clear.png) no-repeat center;
    background-size: 80%;
}

.lock_icon {
    background: url(../css/image/debug-lock.png) no-repeat center;
    background-size: 80%;
}

.stop_icon {
    background: url(../css/image/debug-stop.png) no-repeat center;
    background-size: 80%;
}

.copy-icon {
    background: url(../css/image/debug-copy.png) no-repeat center;
    background-size: 80%;
}

.last-icon {
    background: url(../css/image/debug-last.png) no-repeat center;
    background-size: 80%;
}

.debug_cmd_box {
    position: absolute;
    width: 100%;
    height: calc(100% - 42px);
    top: 42px;
    left: 0;
    display: none;
    border: 1px #ced9ee solid;
    box-shadow: 0 0 15px #a4bdec;
}

.debug_cmd_toolbar {
    position: absolute;
    width: 33px;
    left: 0px;
    top: 0px;
    height: calc(100% - 4px);
    border-right: 1px #ced9ee solid;
    background: #fff;
}

.debug_cmd_editor {
    position: absolute;
    width: calc(100%);
    left: 0;
    top: 0px;
    height: calc(100% - 4px);
}

.debug_message_box {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    bottom: 0;
    left: 0;
    display: none;
    border: 1px #ced9ee solid;
    box-shadow: 0 0 15px #a4bdec;
}

.debug_message_editor {
    position: absolute;
    width: calc(100% - 35px);
    left: 33px;
    top: 0px;
    height: calc(100% - 4px);
}

.debug_message_toolbar {
    position: absolute;
    width: 33px;
    left: 0px;
    top: 0px;
    height: calc(100% - 4px);
    border-right: 1px #ced9ee solid;
    background: #fff;
}

.debug_message_toolbar .fa {
    display: block;
    font-size: 18px;
    color: #9dacc9;
    width: 30px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
}

.debug_cmd_toolbar .fa {
    display: block;
    font-size: 18px;
    color: #9dacc9;
    width: 30px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
}

.debug_cmd_toolbar_span .fa {
    font-size: 18px;
    color: #9dacc9;
    text-align: center;
    cursor: pointer;
}

.pub-icon {
    background: url(../css/image/debug-pub.png) no-repeat center;
    background-size: 80%;
}

.format-icon {
    background: url(../css/image/debug-format.png) no-repeat center;
    background-size: 80%;
}

.submit-info-icon {
    background: url(../css/image/debug-info.png) no-repeat center;
    background-size: 80%;
}

.submit-vpn-icon {
    background: url(../css/image/debug-vpn.png) no-repeat center;
    background-size: 80%;
}

.start-data-icon {
    background: url(../css/image/debug-start-data.png) no-repeat center;
    background-size: 80%;
}

.stop-data-icon {
    background: url(../css/image/debug-stop-data.png) no-repeat center;
    background-size: 80%;
}

.modbus-icon {
    background: url(../css/image/debug-modbus.png) no-repeat center;
    background-size: 80%;
}

.modbus-settings-icon {
    background: url(../css/image/debug-modbus-settings.png) no-repeat center;
    background-size: 80%;
}

.modbus-read-icon {
    background: url(../css/image/debug-modbus-read.png) no-repeat center;
    background-size: 80%;
}

.cmd_icon {
    width: 70px !important;
    font-size: 14px !important;
    border: 0 !important;
    background: #F1F5FD;
    color: #3b9cff !important;
}

.cmd_icon.active {
    background: #188ae2 !important;
    color: #FFFFFF !important;
}

.log_box {
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    height: calc(100% - 40px);
}

.log_row {
    font-size: 14px;
    white-space: normal;
    word-break: break-all;
    padding: 3px 5px 3px 50px;
    line-height: 19px;
    border-bottom: 1px #ced9ee dotted;
    position: relative;
    color: #333b49;
}

.log_filter_input {
    display: inline-block;
    width: 320px;
    margin-left: 9px;
    height: 32px;
    padding: 2px 10px;
    margin-top: 5px;
    border-radius: 0;
    vertical-align: top;
}

.filter-search {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: #488eff;
    padding: 0;
    border-radius: 0;
    vertical-align: top;
    margin-top: 5px;
    margin-left: -5px;
}

.filter-search > i {
    border: none !important;
    margin: 0 !important;
    color: #fff !important;
    font-size: 16px !important;
}

.only-differ-icon {
    vertical-align: top;
    margin-left: -5px !important;
    border-left: none !important;
}

.only-differ-icon.active {
    background-color: #188ae2 !important;
}

.copy_log_btn {
    position: absolute;
    /*right: 8px;*/
    left: 8px;
    top: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #aebedc;
}

.edit_log_btn {
    position: absolute;
    left: 28px;
    top: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #aebedc;
}

.debug_data_panel_toolbar .fa-copy {
    font-size: 17px;
}

.full-modal-box {
    background-color: #fff;
}

.full-modal-header {
    display: inline-block;
    position: absolute;
    right: 10px;
    z-index: 1;
    border-bottom: none;
}

.close-button {
    border: none !important;
    background: #f1f5fd !important;
}

.dialog_fullscreen .modal-body {
    height: auto;
}
.rate_tip{
    font-size: 13px;
    color:blue;
    line-height: 41px;
    margin-left: 40px;
}
.rate_tip .fa{
    border: none;
}