<template name="moduleline_device_template">
    <div class="widget" ng-controller="ModulelineBoardController as ctrl">
        <div class="widget-header">
            <div class="widget-title">
                机台列表
                <div>
                    <div class="btn-group" role="group">
                        <button type="button" ng-click="ctrl.changeModel('list')"
                                class="btn btn-primary btn-sm btn-outline" title="列表">
                            <i class="fa fa-list-ul"></i>
                        </button>
                        <button type="button" ng-click="ctrl.changeModel('kanban')"
                                class="btn btn-primary btn-sm btn-outline" title="看板">
                            <i class="fa fa-th"></i>
                        </button>
                    </div>
                    <button class="btn btn-primary btn-outline btn-sm app-config-btn" type="button">
                        <i class="fa fa-wrench"></i> 数据配置
                    </button>
                    <button class="btn btn-primary btn-outline btn-sm" type="button"
                            ng-click="ctrl.bindDeviceToModuleLine()">
                        <i class="fa fa-dot-circle-o"></i>
                        指定设备为模组线机头
                    </button>
                </div>
            </div>
        </div>
        <div class="widget-body">
            <div ng-show="model === 'list'">
                <list options="ctrl.options">
                </list>
            </div>
            <div ng-show="model === 'kanban'">
                <kanban options="ctrl.kanbanOptions">
                </kanban>
            </div>
        </div>
    </div>
</template>