<template name="app_cnc_introduction_template">
    <div class="widget">
        <!--iCNC start-->
        <div class="widget-header" style="border-bottom: none">
            <div class="block-icnc">
                <span>数控机床模块说明</span>
            </div>
        </div>
        <div class="widget-body">
            <p class="icnc-p">数控机床模块用于对数据机床的设备集中管理，包括以下功能：</p>
            <div class="icnc-content">
                <div class="topDiv">
                    <div class="machine-information">
                        <div></div>
                        <span>机床信息管理</span>
                    </div>
                    <div class="machine-status">
                        <div></div>
                        <span>机床运行状态</span>
                    </div>
                    <div class="knife">
                        <div></div>
                        <span>安装刀具及刀补调整</span>
                    </div>
                    <div class="machine-project">
                        <div></div>
                        <span>机床维保管理</span>
                    </div>
                </div>
                <div class="bottomDiv">
                    <div class="machine-wrong">
                        <div></div>
                        <span>机床故障报警</span>
                    </div>
                    <div class="nc-file">
                        <div></div>
                        <span>NC文件管理</span>
                    </div>
                    <div class="nc-file-version">
                        <div></div>
                        <span>NC文件版本管理</span>
                    </div>
                </div>
            </div>
        </div>
        <!--iCNC end-->

        <!--tip start-->
        <div class="widget-header" style="border-bottom: none">
            <div class="block-icnc">
                <span>温馨提示</span>
            </div>
        </div>
        <div class="widget-body">
            <p class="tip-p">使用数控机床模块前请先通过[设备接入]将数据机床接入Janus中。</p>
        </div>
        <!--tip end-->
    </div>
</template>