.markdown-body {
    background-color: #fff;
    border-left: #ebebeb 1px solid;
    padding-left: 30px;
    padding-bottom: 150px;
}

.sidebar-fixed {
    position: fixed;
    top: 61px;
    bottom: 0;
    z-index: 4;
}

.sidebar {
    float: left;
    background: #f5f5f5;
    width: 260px;
    overflow: auto;
    font-size: 14px;
    padding-top: 8px;
    transition-property: width;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.sidebar h1 {
    color: #666;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 35px;
    font-weight: bold;
    margin-top: 0 !important;
}

.toc {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap
}

.toc:hover {
    overflow-y: auto
}

.toc li {
    cursor: pointer
}

.toc .level2 {
    display: none
}

.toc .level3 {
    display: none
}

.toc .level4 {
    display: none
}

.toc .level5 {
    display: none
}

.toc .level6 {
    display: none
}

.toc .level1 li {
    padding: 0 0 0 10px
}

.toc .level2 li {
    padding: 0 0 0 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.toc .level3 li {
    padding: 0 0 0 50px
}

.toc .level4 li {
    padding: 0 0 0 70px
}

.toc .level5 li {
    padding: 0 0 0 90px
}

.toc .level6 li {
    padding: 0 0 0 110px
}

.toc .children {
    padding: 0 !important;
    font-size: 0
}

.toc .node, .toc .leaf {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: none;
    background: none
}

.toc .node:hover a, .toc .leaf:hover a {
    color: #108CEE
}

.toc .node:hover a, .toc .leaf:hover a {
    color: #108CEE
}

.leaf.active a, .node.active a {
    color: #108CEE;
}

.toc a {
    color: #333;
    text-decoration: none;
    padding: 0 25px;
    background: url(https://bce.bdstatic.com/portal/img/doc/icons_8948f13d.png) 0 0 no-repeat;
    outline: none
}

.toc a.loading {
    background: url(https://bce.bdstatic.com/portal/img/doc/loading_647b3ac4.gif) 7px 2px no-repeat !important;
    background-position: 7px 2px !important
}

.toc .level1 > .leaf a, .toc .node a {
    background-position: 10px -73px
}

.toc .leaf a {
    background-position: 10px -306px
}

.toc .level1 > .leaf.active a, .toc .level1 > .leaf.active:hover a {
    background-position: 10px -230px
}

.toc .active a, .toc .active:hover a {
    color: #108CEE
}

.toc .node.active a, .toc .node.active:hover a {
    background-position: 10px -230px
}

.toc .leaf.active a, .toc .leaf.active:hover a {
    background-position: 10px -324px
}

.toc .open a, .toc .open:hover a {
    background-position: 10px -106px
}

.toc .open.active a, .toc .open.active:hover a {
    background-position: 10px -281px
}

.hide-aside {
    position: absolute;
    top: 15px;
    right: 10px;
    text-align: center;
}

.arrow-a {
    height: 30px;
    width: 30px;
    line-height: 28px;
    display: inline-block;
    border: #000 1px solid;
    border-radius: 50%;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.arrow-a:hover {
    color: #108CEE;
    border-color: #108CEE;
}

.rotate-arrow-a {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.side-one-div {
    transition-property: visibility;
    transition-duration: .1s;
    transition-timing-function: ease;
}

.crumb {
    margin-left: -30px;
    padding-left: 10px !important;
    margin-bottom: 0 !important;
    margin-top: -11px !important;
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    color: #666;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
    background: #FFF
}

.crumb .sidebarShow {
    width: 37px;
    height: 51px;
    line-height: 51px;
    margin-top: -6px;
    display: inline-block;
    border-right: 1px solid #ebebeb;
    cursor: pointer
}

.crumb li {
    display: inline;
    zoom: 1;
    padding: 0 5px;
    vertical-align: middle
}

.crumb a {
    color: #0886E9
}

.crumb a:hover {
    text-decoration: none
}

.crumb .active {
    color: #777
}

.crumb .divider {
    color: #666
}