<template name="vr_robot_catchup_template">
    <div class="widget" ng-controller="RobotVRCatchUpController as ctrl">
        <div class="widget-header">
            <div class="widget-title">
                模型-追捡设备
                <button class="btn btn-primary btn-outline btn-sm" type="button"
                        ng-click="ctrl.modifyConfig()"
                        ng-if="''| SecurityFilter: 'vr_robot_catchup':'manage'">
                    <i class="fa fa-cog"></i>
                    数据配置
                </button>
            </div>
        </div>
        <div class="widget-body" style="min-height: 300px;">
            <div class="row">
                <div class="col-xs-6 catchup_left">
                    <div class="row-item" style="margin-top: 15px;">
                        <div style="width: 90px;">设备</div>
                        <div id="vrcatchup_bind_device_box"></div>
                    </div>
                    <div class="echart_position catchup_chart"
                         style="margin-top: 15px;border-top: 1px #ddd dotted; padding-top: 5px;">

                    </div>
                    <div class="echart_speed catchup_chart"
                         style="margin-top: 15px;border-top: 1px #ddd dotted; padding-top: 5px;">

                    </div>
                    <!--<div>
                        <button class="btn btn-success btn-sm" type="button" ng-click="ctrl.move()">移动</button>
                    </div>
                    <div>
                        <input class="form-control" id="animate_input"/>
                    </div>
                    <div>
                        <input class="form-control" id="obj_input" placeholder="备注"/>
                    </div>
                    <div>
                        <input class="form-control" id="x_input" placeholder="X轴"/>
                        <i class="fa fa-plus-square-o" aria-hidden="true" ng-click="ctrl.plusPoint('x')"></i>
                        <i class="fa fa-minus-square-o" aria-hidden="true" ng-click="ctrl.miniPoint('x')"></i>
                    </div>
                    <div>
                        <input class="form-control" id="y_input" placeholder="y轴"/>
                        <i class="fa fa-plus-square-o" aria-hidden="true" ng-click="ctrl.plusPoint('y')"></i>
                        <i class="fa fa-minus-square-o" aria-hidden="true" ng-click="ctrl.miniPoint('y')"></i>
                    </div>
                    <div>
                        <input class="form-control" id="z_input" placeholder="z轴"/>
                        <i class="fa fa-plus-square-o" aria-hidden="true" ng-click="ctrl.plusPoint('z')"></i>
                        <i class="fa fa-minus-square-o" aria-hidden="true" ng-click="ctrl.miniPoint('z')"></i>
                    </div>-->
                </div>
                <div class="col-xs-6">
                    <div id="catchup_webgl_box"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="vr_robot_catchup_config_template">
    <div>
        <tabs>
            <tab title="基本配置">
                <div>
                    <div class="row">
                        <div class="col-xs-6">
                            <cnvtext width="150" label="数据周期(毫秒)" ng-model="entity.cycle" placeholder="188"></cnvtext>
                        </div>
                        <div class="col-xs-6">
                            <cnvtext width="150" ng-model="entity.gongjian_time" label="工件运行时间(毫秒)" placeholder="200"></cnvtext>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <cnvtext width="150" label="X轴位置" ng-model="entity.axis1_posi"></cnvtext>
                        </div>
                        <div class="col-xs-6">
                            <cnvtext width="150" label="Z轴位置" ng-model="entity.axis2_posi"></cnvtext>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <cnvtext width="150" ng-model="entity.qigang" label="气缸信号"></cnvtext>
                        </div>
                        <div class="col-xs-6">
                            <cnvtext width="150" ng-model="entity.xipan" label="吸盘抓取信号"></cnvtext>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <cnvtext width="150" ng-model="entity.tsstart" label="工件开始运动信号"></cnvtext>
                        </div>
                    </div>
                </div>
            </tab>
        </tabs>
    </div>
</template>