<template name="controlling_log_list_template">
    <div class="widget" ng-controller="ControllingLogListController as ctrl">
        <div class="widget-header">
            <div class="widget-title">
                {{'运行日志'|I18nFilter:'production.line.log'}}
            </div>
        </div>
        <div class="widget-body">
            <list options="ctrl.options">

            </list>
        </div>
    </div>
</template>
<template name="controlling_log_detail_template">
    <div class="widget" ng-controller="ControllingLogDetailController as ctrl">
        <div class="widget-header">
            <div class="widget-title">
                <div>
                    <a href="" ng-click="ctrl.goList()">{{'运行日志列表'|I18nFilter:'production.line.log.list'}} / </a>
                    <span ng-bind="title"></span>
                </div>
            </div>
        </div>
        <div class="widget-body">
            <tabs>
                <tab title="{{'自动化运行信息'|I18nFilter:'production.line.run.info'}}">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <field label="{{'触发时间'|I18nFilter:'trigger_time'}}"
                                       ng-model="entity.create_date"></field>
                                <field label="{{'规则名称'|I18nFilter:'rule_name'}}" ng-model="rule.name"></field>
                            </div>
                            <div class="col-xs-6">
                                <field label="{{'自动化规则名称'|I18nFilter:'production.line.rule.name'}}"
                                       ng-model="entity.controlling.name"></field>
                                <field label="{{'规则类型'|I18nFilter:'rule_type'}}" ng-model="rule.triggerRule"></field>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <field label="{{'触发结果'|I18nFilter:'trigger_result'}}"
                                       ng-model="entity.conditionResult"></field>
                            </div>
                            <div class="col-xs-6">
                                <field label="{{'触发方式'|I18nFilter:'trigger_mode'}}"
                                       ng-model="entity.triggerType"></field>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="devices.length>0">
                            <div class="col-xs-12">
                                <div class="c-field">
                                    <label class="c-field-label">{{'下发设备'|I18nFilter:'issue_device'}}</label>
                                    <div class="c-field-value">
                                                <span ng-repeat="device in  devices" ng-bind="device.name"
                                                      style="padding-right: 8px"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <field label="{{'下发数据'|I18nFilter:'issue_data'}}" ng-model="entity.pushData"></field>
                            </div>
                        </div>

                    </div>
                </tab>
                <tab title="{{'自动化基本信息'|I18nFilter:'production.line.automation.info'}}">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <field label="{{'自动化名称'|I18nFilter:'production.automation.name'}}"
                                       ng-model="controlling.name"></field>
                            </div>
                            <div class="col-xs-6">
                                <field label="{{'状态'|I18nFilter:'status'}}" ng-model="openFlag"></field>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <field label="{{'备注'|I18nFilter:'remark'}}" ng-model="controlling.remarks"></field>
                            </div>
                            <div class="col-xs-12">
                                <field label="{{'数据配置'|I18nFilter:'data.config'}}"
                                       ng-model="controlling.config"></field>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="controllingRoules.length>0">
                        <div class="col-xs-12">
                            <div class="col-sm-12">
                                <div class="header">
                                    <i class="fa fa-dot-circle-o"></i>
                                    {{'规则列表'|I18nFilter:'rule_list'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 have-border" ng-repeat="r in controllingRoules"
                             ng-class="rule.rule_id==r.rule_id?'select-border':''">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <field label="{{'规则名称'|I18nFilter:'rule_name'}}" ng-model="r.name"></field>
                                </div>
                            </div>
                            <div class="col-xs-12" ng-if="r.triggerRule==='data_drive'">
                                <div class="col-xs-12">
                                    <field label="{{'触发规则'|I18nFilter:'trigger_rule'}}" ng-model="data_drive"></field>
                                </div>
                                <div class="col-xs-12">
                                    <div class="c-field">
                                        <label class="c-field-label">{{'相关设备'|I18nFilter:'relate_device'}}</label>
                                        <div class="c-field-value">
                                                    <span ng-repeat="d in  r.relatedDevice" ng-bind="d.name"
                                                          style="padding-right: 8px"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" ng-if="r.triggerRule==='time_push'">
                                <div class="col-xs-12">
                                    <field label="{{'触发规则'|I18nFilter:'trigger_rule'}}" ng-model="time_push"></field>
                                </div>
                                <div class="col-xs-12">
                                    <div class="c-field">
                                        <label class="c-field-label">{{'下发频率'|I18nFilter:'issue_rate'}}</label>
                                        <div class="c-field-value" ng-bind="r.time+r.timeUnit"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <field label="{{'触发条件'|I18nFilter:'trigger_condition'}}"
                                           ng-model="r.triggerCondition"></field>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <div class="c-field">
                                        <label class="c-field-label">{{'相关设备'|I18nFilter:'relate_device'}}</label>
                                        <div class="c-field-value">
                                            <span ng-repeat="p in  r.pushDevice" ng-bind="p.name"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <field label="{{'数据下发处理'|I18nFilter:'data.issue.do'}}"
                                           ng-model="r.pushProcess"></field>
                                </div>
                            </div>
                            <div class="fa fa-check select-arrow-div" ng-if="rule.rule_id==r.rule_id"></div>
                        </div>
                    </div>
                </tab>
                <tab title="{{'设备信息'|I18nFilter:'device.info'}}">
                    <div class="row" ng-if="controllingDevices.length>0">
                        <div class="col-xs-12">
                            <div>
                                <table class="table table-bordered table-condensed edittable">
                                    <thead>
                                    <tr>
                                        <th style="width: 50px;">#</th>
                                        <th style="width: 250px;">{{'设备名称'|I18nFilter:'device.name'}}</th>
                                        <th style="width: 150px;">{{'不允许其他规则使用'|I18nFilter:'other_rule_no_us'}}</th>
                                        <th style="width: 160px;">{{'设备别名'|I18nFilter:'device_alias'}}</th>
                                        <th style="width: 150px;">{{'属于当前日志的下发设备'|I18nFilter:'this_log_device'}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="d in controllingDevices">
                                        <td>
                                            <span class="controlling-device-index-span">{{$index + 1}}</span>
                                        </td>
                                        <td>
                                            <div class="controlling-device-box">
                                                <span ng-show="d.uuid">{{d.name+'（'+d.uuid+'）'}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="is-unique-checkbox"
                                                   style="margin-top: 8px;pointer-events: none"
                                                   name="control_unique_{{$index}}"
                                                   ng-model="d.unique" ng-if="d.unique"/>
                                        </td>
                                        <td>
                                            <div class="controlling-device-box">
                                                <span>{{d.alias}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="controlling-device-box"
                                                 ng-show="ctrl.isThisLogDevice(d)">
                                                <input type="checkbox" class="is-unique-checkbox"
                                                       style="margin-top: 8px;pointer-events: none"
                                                       name="control_unique_{{$index}}"
                                                       ng-model="d.unique"/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabs>
        </div>
    </div>
</template>