.welcomeHeader {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px #dddddd solid;
}

.brand-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url("../img/janus-logo-circle.png") no-repeat center;
    background-size: 90%;
    margin-left: 20px;
    margin-top: 10px;
}

.brand-name {
    display: inline-block;
    height: 40px;
    width: 100px;
    background: url("../img/janus-logo-font.png") no-repeat left;
    background-size: 80%;
    margin-left: 5px;
}

.welcomeBody #canvas {
    position: absolute;
}

.sync-controller {
    height: 100vh;
    display: flex;
    align-items: center;
}