<template name="product_add_template">
    <div class="widget" ng-controller="AddProductController as ctrl">
        <div class="widget-header">
            <div class="widget-title">
                <div ng-bind="productName"></div>
                <div>
                    <button class="btn btn-primary btn-outline btn-sm" type="button" ng-click="ctrl.back()">
                        <i class="fa fa-arrow-left"></i>
                        {{'返回'|I18nFilter:'back'}}
                    </button>
                    <button class="btn btn-primary btn-outline btn-sm" type="button" ng-click="ctrl.saveNewProduct()">
                        <i class="fa fa-download"></i>
                        {{'保存'|I18nFilter:'save'}}
                    </button>
                    <Sub-Nav options="ctrl.subNavOptions"></Sub-Nav>
                </div>
            </div>
        </div>
        <div class="widget-body">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-xs-5" >
                    <cnvtext label="产品名" required="true"
                             ng-model="entity.productName"></cnvtext>
                </div>
                <div class="col-xs-5"  style="padding-top: 6px;">
                    <cnvtext label="型号" ng-model="entity.model"></cnvtext>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px">
                <div class="col-xs-5" >
                    <cnvtext label="类型"
                             ng-model="entity.type"></cnvtext>
                </div>
                <div class="col-xs-5"  style="padding-top: 6px;">
                    <cnvtext label="价格" ng-model="entity.price"></cnvtext>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px">
                <div class="col-xs-5">
                    <cnvtext label="计量单位" ng-model="entity.unit"></cnvtext>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px">
                <div class="col-xs-10" style="margin-bottom: 15px;">
                    <cnvtextarea label="{{'备注'|I18nFilter:'remark'}}" ng-model="entity.remarks"></cnvtextarea>
                </div>
            </div>
        </div>
    </div>
</template>
